@import 'materialize';

.container {
  width: 90%;
}
.btn {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #4A735A;
}
.flash {
  height: 35px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.flash.success {
  background-color: #69A0E8;
  font-weight: 400;
}
.flash.error {
  background-color: #A53C2D;
  color: #fff;
  font-weight: 400;
}
.btn:hover {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #4A6C71;
  color: #000;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
 body {
   background-color: #fff;
   font-family: 'Lato';
   font-weight: 300;
 }

.brand-logo.navtitle {
  margin-left: 3%;
  color: #fff;
  font-weight: 100;
}

.nav_bar {
  background-color: #A57161;
  border-bottom: 1px solid #4A735A;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.option_btn {
  margin-top: 40px;
}

.appointments_card {
  background-color: #6F745B;
  border-radius: 10px;
}

.card-action.appointments_card {
  border: 1px solid #fff;
}
.doctor_card {
  // border: 1px solid rgba(111, 116, 91, 0.1)
}
